* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    gap: 5rem;
}

:root {
    --conicAngle: 30deg;
    --color: green;
}

.container {

    width: 100%;
    height: 100%;
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from var(--conicAngle),
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
    /* animation: rotateGradient 1s linear infinite; */
}

@keyframes rotateGradient {
    0% {
        --conicAngle: 0deg;
        --color: green;
        --c3: #ffffff;
        scale: 1;
    }

    5% {
        --conicAngle: 18deg;
        --color: rgb(129, 241, 129);
        --c2: #2a63d4;
    }

    10% {
        --conicAngle: 36deg;
        --color: rgb(218, 106, 15);
        scale: 1.2;
    }

    15% {
        --conicAngle: 54deg;
        --color: rgb(4, 0, 255);
    }

    20% {
        --conicAngle: 72deg;
        --color: rgb(247, 7, 235);
        scale: 1.3;
        
    }

    25% {
        --conicAngle: 90deg;
        --color: rgb(208, 255, 0);
    }

    30% {
        --conicAngle: 108deg;
        --color: #f56ef5;
        scale: 1.4;
    }

    35% {
        --conicAngle: 126deg;
        --color: rgb(248, 248, 248);
        --c2: #09ff00;
    }

    40% {
        --conicAngle: 144deg;
        --color: rgb(250, 216, 122);
        scale: 1.5;
    }

    45% {
        --conicAngle: 162deg;
        --color: rgb(0, 217, 255);
    }

    50% {
        --conicAngle: 180deg;
        --color: rgb(247, 250, 49);
        scale: 1.6;
    }

    55% {
        --conicAngle: 198deg;
        --color: rgb(78, 125, 228);
        --c2: #ff0000;
    }

    60% {
        --conicAngle: 216deg;
        --color: rgb(106, 89, 252);
        --c1: #000000;
        scale: 1.7;
    }

    65% {
        --conicAngle: 234deg;
        --color: rgb(255, 15, 255);
        
    }

    70% {
        --conicAngle: 252deg;
        --color: rgb(65, 235, 65);
        scale: 1.8;
    }

    75% {
        --conicAngle: 270deg;
    }

    80% {
        --conicAngle: 288deg;
        --c2: #ffee00;
        scale: 1.9;
    }

    85% {
        --conicAngle: 306deg;
    }

    90% {
        --conicAngle: 324deg;
        --c2: #ffffff;
        scale: 1.5;
    }

    95% {
        --conicAngle: 342deg;
        scale: 1.1;
    }

    100% {
        --conicAngle: 360deg;
        scale: 1;
        
    }
}

input[type="checkbox"] {
    display: none;
}

.modal-btn {
    width: 10%;
    background-color: var(--color);
    padding: 2rem;
    border-radius: 10px 10px 12px 10px 25px 14px;
    text-align: center;
    color: white;
}


.modal {
    -webkit-box-shadow: 2px 5px 24px 8px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 5px 24px 8px rgba(0, 0, 0, 0.51);
    box-shadow: 2px 5px 24px 8px rgba(0, 0, 0, 0.51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 2rem;
    /* width: 40%; */
    padding: 5rem;
    background-color: white;
    z-index: 5;
    opacity: 1 !important;
}

.modal p {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 1;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
    gap: 2rem;
}

input[type="email"] {
    width: 60%;
    height: 2.5rem;
}

input[type="submit"] {
    width: 60%;
    height: 2rem;
    background-color: rgb(112, 116, 116);
    color: white;
    border-radius: 10px;
}

.modal-container {
    padding: 2rem;
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: none;

}

#checkbox:checked+.modal-toggle+.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 5rem !important;

}

.modal-toggle-x {
    position: relative;
    left: 56%;
    bottom: 8%;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 0, 0);
    padding: 2rem;
    border-radius: 30px;
}

@media (max-width:768px) {

    .modal-toggle-x {
        position: relative !important;
        left: 8rem !important;
        bottom: 2%;
        font-size: 1rem;
        padding-block: 1rem !important;
        width: 8rem !important;
        text-align: center;
        padding: 0;
        font-weight: bold;
        color: red;
    }

    .modal {
        width: 60% !important;
        height: 50%;
        padding: 2rem !important;
        background-color: white;
    }

    .modal-btn {
        width: 30%;
        background-color: green;
        padding: 2rem;
        border-radius: 40px;
        text-align: center;
        color: white;
    }

}