* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    gap: 5rem;
}

.container {
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }
  
input[type="checkbox"] {
    display: none;
}

.modal-btn {
    width: 10%;
    background-color: green;
    padding: 2rem;
    border-radius: 30px;
    text-align: center;
    color: white;
}


.modal {
    -webkit-box-shadow: 2px 5px 24px 8px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 5px 24px 8px rgba(0, 0, 0, 0.51);
    box-shadow: 2px 5px 24px 8px rgba(0, 0, 0, 0.51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 2rem;
    /* width: 40%; */
    padding: 5rem;
    background-color: white;
    z-index: 5;
    opacity: 1 !important;
}

.modal p {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 1;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
    gap: 2rem;
}

input[type="email"] {
    width: 60%;
    height: 2.5rem;
}

input[type="submit"] {
    width: 60%;
    height: 2rem;
    background-color: rgb(112, 116, 116);
    color: white;
    border-radius: 10px;
}

.modal-container {
    padding: 2rem;
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: none;

}

#checkbox:checked+.modal-toggle+.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 5rem !important;

}

.modal-toggle-x {
    position: relative;
    left: 56%;
    bottom: 8%;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 0, 0);
    padding: 2rem;
    border-radius: 30px;
}

@media (max-width:768px) {

    .modal-toggle-x {
        position: relative !important;
        left: 8rem !important;
        bottom: 2%;
        font-size: 1rem;
        padding-block: 1rem !important;
        width: 8rem !important;
        text-align: center;
        padding: 0;
        font-weight: bold;
        color: red;
    }

    .modal {
        width: 60% !important;
        height: 50%;
        padding: 2rem !important;
        background-color: white;
    }

    .modal-btn {
        width: 30%;
        background-color: green;
        padding: 2rem;
        border-radius: 40px;
        text-align: center;
        color: white;
    }

}